.card__link:link,
.card__link:visited {
  text-decoration: none;
  color: var(--text);
  font: inherit;
}

.card__link:hover .card__info-container,
.card__link:active .card__info-container {
  bottom: 0;
  opacity: 1;
}

.card {
  aspect-ratio: 2/3;
  max-width: 30rem;
  width: 100%;
  position: relative;
}

.card__img-container {
  height: 100%;
  width: 100%;
}

.card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__info-container {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -15rem;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.card__info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
}
