:root {
  --background: #000;
  --text: #fff;
  --red: #ff1919;
  --ochre: #d28500;
  --yellow: #e4dcb5;
  --font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-family: var(--font);
  color: var(--text);
  background-color: var(--background);
}

@media (max-width: 76.8em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
